<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Logar</title>
</head>

<body>
    <h1>Logar</h1>
   <ul>
        <% if( messages.success_msg ){ %>
            <li style="color: green">
                <%= messages.success_msg %>
            </li>
            <% } %>
    </ul>

    <ul>
        <% if(messages.error){ %>
            <li style="color: red"><%= messages.error  %></li>
        <% } %>
    </ul>
    

    <form action="/user/login" method="post">

        <div>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>

        <div>
            <input type="submit" value="Logar">
        </div>
        <div>
            <a href="/user/register">Não possui conta? Registre aqui</a>
        </div>
    </form>

</body>

</html>